body {
    font-family: Arial, sans-serif;
    background-color: #28272a;
    color: #d6d6d6;
    margin: 0;
    padding: 2rem
}
html {
    font-size: 16px;
}

.Heading {
    font-size: 5rem;
    font-weight: bold;
    top :10%;
    left: 50%;
    text-align: center;
}

.startingText {
    font-size: 2rem;
    font-weight: bold;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
}

.inputBox {
    width: 30%;
    height: 2.5rem;
    padding: 10px;
    top : 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 1rem;
    border: 1px solid #8f8d8d;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inputText {
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    border-radius: 5px;
    flex:auto;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

.sendButton {
    width: 10%;
    height: 2rem;
    background-color: #48454b;
;
    border: 2px solid #ccc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}